#testimonials,.swiper{
    width: $container-lg;

    .container,.swiper-wrapper{
        margin-bottom: 3.5rem;
        article,.swiper-slide{
            @include gradientBackground;
            padding: 1.5rem 2rem;
            border-radius: 1rem;
            cursor: default;
            font-size: 0.9rem;
            

            p{
                margin-bottom: 1.5rem;
            }

            .patient{
                display: flex;
                align-items: center;
                gap: 1rem;

                .avatar{
                    width: 2.5rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }

            
        }
    }
    .swiper-pagination-bullet{
        background: $primary-color;
    }
}


/*----- MEDIA QUERIES (small DEVIDES) --------*/

@media screen and (max-width: 660px){
    #testimonials{
        .container,.swiper-wrapper{
            .article,.swiper-slide{
                padding: 1.5rem;
            }
        }
    }
    
}